In [2]:
import sys

sys.path.append('../../')
from busi.air.temperature import Temperature

# Mannual

## Set and Get

At first, set the temperature in constructer.  
The first parameter is the set value.  
The second parameter is the unit of the value. You specify the value 'Celcius' or 'Kelvin' as the unit.

The example below shows the set of the tamperature of 273.15 (K).

In [3]:
T1 = Temperature(273.15, 'Kelvin')

You can get the value from the set varriant.  
You can get the value as kelvin like:

In [4]:
T1.K

273.15

You can get the value as celsius like:

In [5]:
T1.C

0.0

You can also set the value as celsius.

In [6]:
T2 = Temperature(30.0, 'Celsius')

You can get the value as celsius and kelvin.

In [7]:
T2.C

30.0

In [8]:
T2.K

303.15

You can ommit the second parameter for the unit.  
When omitting, the second parameter is specified to be 'Kelvin' as default.

In [9]:
T3 = Temperature(373.15)

In [10]:
T3.K

373.15

In [11]:
T3.C

100.0

The value of temperature can be changed after create the variant.

In [12]:
T4 = Temperature(0.0,'Celsius')

In [13]:
T4.C, T4.K

(0.0, 273.15)

In [14]:
T4.C = 30.0

In [15]:
T4.C, T4.K

(30.0, 303.15)

## Exception

The value less than 0 K could not be set. If do so, it occors the ValueError.

In [16]:
try:
    T5 = Temperature(-10.0,'Kelvin')
except ValueError as e:
    print(e)

Error: Temperature should be equal to or more than 0 kelvin.

When overwriting the value, it also occors the ValueError.

In [17]:
T6 = Temperature(273.15)
try:
    T6.K = -10.0
except ValueError as e:
    print(e)

Error: Temperature should be equal to or more than 0 kelvin.

## Addition & Subtraction

You can add and subtract the value. The unit of the value is K.

In [18]:
T7 = Temperature(25.0,'Celsius')
T7.C, T7.K

(25.0, 298.15)

Add 23.0 K.

In [19]:
T8 = T7 + 23.0
T8.C, T8.K

(48.0, 321.15)

You can not change the order. The left side value for '+' shall be the value as Temperature class, and the right side value for '+' shall be the value as float.

The example below shall not be permitted.

In [20]:
try:
    T9 = 23.0 + T7   # Error!  'froat' + 'Temperature'
except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'float' and 'Temperature'

You cannot add Temperature to Temperature.  
Because, the sum of the temperature has no meaning phisically.  
You can only add temperature difference to temperature.

In [21]:
try:
    T10 = T7 + Temperature(23.0)   # Error!  'Temperature' + 'Temperature'
except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'float' and 'Temperature'

When you want to add the temperature to the temperature for the purpose of getting the average, you should convert to kelvin or celsius as below.

In [22]:
Ts = [ Temperature(273.15), Temperature(373.15) ]
T_average = ( Ts[0].K + Ts[1].K ) / 2
T_average

323.15

You can also subtract.

Subtract 23.0 K.

In [23]:
T11 = T7 - 23.0
T11.C, T11.K

(2.0, 275.15)

The cases below are also error !

In [24]:
try:
    T12 = 23.0 - T7   # Error!  'froat' + 'Temperature'
except TypeError as e:
    print(e)

unsupported operand type(s) for -: 'float' and 'Temperature'

In [25]:
T13 = Temperature(23.0)
try:
    T7 - T13
except TypeError as e:
    print(e)

unsupported operand type(s) for -: 'float' and 'Temperature'

When you want to get the difference of the two temperatures, you use the class function 'difference' as below.

In [26]:
Temperature.difference( Temperature(373.15) , Temperature(273.15) )

100.0

## Comparison

You can compare the two values as Temperature.

$ < $

In [27]:
Temperature(300.0) < Temperature(310.0)

True

In [28]:
Temperature(300.0) < Temperature(300.0) # Two values are equal.

False

$ \le $

In [29]:
Temperature(300.0) <= Temperature(310.0)

True

In [30]:
Temperature(300.0) <= Temperature(300.0) # Two values are equal.

True

$ > $

In [31]:
Temperature(310.0) > Temperature(300.0)

True

In [32]:
Temperature(300.0) > Temperature(300.0) # Two values are equal.

False

$ \ge $

In [33]:
Temperature(310.0) >= Temperature(300.0)

True

In [34]:
Temperature(300.0) >= Temperature(300.0) # Two values are equal.

True

$ = $

In [35]:
Temperature(310.0) == Temperature(300.0)

False

In [36]:
Temperature(300.0) == Temperature(300.0) # Two values are equal.

True

$ \ne $

In [37]:
Temperature(310.0) != Temperature(300.0)

True

In [38]:
Temperature(300.0) != Temperature(300.0) # Two values are equal.

False